@font-face {
  font-family: "iconfont"; /* Project id 4450284 */
  src: url('./iconfont.woff2?t=1724224144762') format('woff2'),
       url('iconfont.woff?t=1724224144762') format('woff'),
       url('iconfont.ttf?t=1724224144762') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zu_17014beifen:before {
  content: "\e655";
}

.icon-yuce:before {
  content: "\e654";
}

.icon-qushi:before {
  content: "\e653";
}

.icon-qiyeliangxiang:before {
  content: "\e652";
}

.icon-align-center-outlined:before {
  content: "\e651";
}

.icon-dianganpingjunzhiqushi:before {
  content: "\e64d";
}

.icon-a-align-center-outlined3:before {
  content: "\e64e";
}

.icon-a-align-center-outlined4:before {
  content: "\e64f";
}

.icon-a-align-center-outlined2:before {
  content: "\e650";
}

.icon-banreguandusai:before {
  content: "\e64b";
}

.icon-yinyaguandusai:before {
  content: "\e64c";
}

.icon-lingpiao:before {
  content: "\e64a";
}

.icon-sousuo:before {
  content: "\e648";
}

.icon-shijian:before {
  content: "\e649";
}

.icon-shebeizonglan:before {
  content: "\e63d";
}

.icon-shebeijiankang:before {
  content: "\e63e";
}

.icon-kongzhixingneng:before {
  content: "\e63c";
}

.icon-yibiaozonglan:before {
  content: "\e63f";
}

.icon-lishitongji:before {
  content: "\e640";
}

.icon-zhendanghefeixianxing:before {
  content: "\e641";
}

.icon-famengenzongxingneng:before {
  content: "\e642";
}

.icon-huiluzonglan:before {
  content: "\e643";
}

.icon-famennianzhichengdu:before {
  content: "\e644";
}

.icon-chongshuaxishu:before {
  content: "\e645";
}

.icon-famenpianlichengdu:before {
  content: "\e646";
}

.icon-famensiqu:before {
  content: "\e647";
}

